.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
  background-color: #f0f2f5; /* Add a background color */
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.not-found-container h1 {
  font-size: 4rem;
  color: #333;
  margin-bottom: 20px;
}

.not-found-container p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 40px;
}

.home-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}